.hero-container {
  position: relative;
}

.wrapper-text {
  position: absolute;
  right: 0;
  bottom: 100px;
  left: 351px;
  z-index: 2;

  @include lg-down {
    left: 206px;
  }

  @include md-down {
    bottom: 15px;
    left: 60px;
  }

  @include sm-down {
    bottom: 13px;
    left: 28px;
  }
}

.hero-text {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;

  @include md-down {
    font-size: 16px;
    line-height: 26px;
  }

  @include sm-down {
    font-size: 14px;
    line-height: 26px;
  }
}

.title {
  max-width: 660px;
  margin-top: 20px;
  font-size: 60px;
  font-weight: 700;
  line-height: 80px;

  @include lg-down {
    font-size: 50px;
  }

  @include md-down {
    max-width: 440px;
    margin-top: 4px;
    font-size: 40px;
    line-height: normal;
  }

  @include sm-down {
    max-width: 250px;
    font-size: 24px;
  }
}

.title-span {
  color: $color-secondary;
}

.background {
  min-width: 100%;

  @include sm-down {
    width: 290px;
    height: 190px;
  }
}
