.contact {
  margin-top: 210px;

  @include md-down {
    margin-top: 70px;
  }

  @include sm-down {
    margin-top: 50px;
  }
}

.title {
  font-size: 32px;
  font-weight: 700;
  line-height: 35px;

  @include md-down {
    font-size: 24px;
  }
}

.title-span {
  color: $color-yellow;
}

.form {
  margin-top: 70px;

  @include md-down {
    margin-top: 30px;
  }
}

.wrapper-input {
  display: flex;
  row-gap: 20px;
  column-gap: 30px;

  @include sm-down {
    flex-direction: column;
  }
}

.input {
  &::placeholder {
    color: $color-gray;
  }

  width: 100%;
  padding-top: 16px;
  padding-bottom: 20px;
  padding-left: 18px;
  font-size: 16px;
  color: $color-primary;
  background: none;
  border: 1px solid $color-gray;
  outline: none;
}

.input-message {
  width: 100%;
  height: 220px;
  margin-top: 30px;
  resize: none;
}

.form-button {
  padding: 14px 44px;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  cursor: pointer;
  background-color: $color-yellow;
  border: 1px solid $color-yellow;
  transition: $transition-base;

  &:hover {
    color: $color-yellow;
    background: none;
  }
}
