*,
*::after,
*::before {
  box-sizing: border-box;
}

body {
  font-family: $font-family-primary;
  line-height: $line-height-base;
  color: $color-primary;
  background-color: $color-black;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  img {
    width: 100%;
  }
}

.menu-open {
  overflow: hidden;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
a,
ul {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
}
