.questions {
  margin-top: 70px;

  @include sm-down {
    margin-top: 70px;
  }
}

.title {
  font-size: 70px;
  font-weight: 800;
  text-transform: uppercase;

  @include sm-down {
    font-size: 30px;
  }
}

.list {
  margin-top: 40px;
  list-style: none;

  @include sm-down {
    margin-top: 20px;
  }
}
