.articles {
  margin-top: 140px;

  @include md-down {
    margin-top: 140px;
  }
}

.articles-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.title {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 70px;

  @include md-down {
    font-size: 30px;
  }

  @include sm-down {
    max-width: 150px;
  }
}

.link {
  position: relative;
  padding-right: 20px;
  font-size: 16px;
  font-weight: 600;
  color: $color-gray;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    color: $color-secondary;

    &::before,
    &::after {
      background-color: $color-secondary;
    }
  }

  @include xs-down {
    font-size: 12px;
  }

  &::before,
  &::after {
    position: absolute;
    right: 0;
    z-index: 1;
    width: 10px;
    height: 1px;
    content: '';
    background-color: $color-gray;
  }

  &::before {
    top: 9px;
    transform: rotate(40deg);

    @include xs-down {
      top: 6px;
    }
  }

  &::after {
    bottom: 9px;
    transform: rotate(-40deg);

    @include xs-down {
      bottom: 6px;
    }
  }
}

.list {
  display: flex;
  column-gap: 25px;
  justify-content: space-between;
  padding-left: 0;
  margin-top: 90px;
  margin-bottom: 0;
  text-align: center;
  list-style: none;

  @include md-down {
    margin-top: 40px;
  }

  @include sm-down {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
    justify-content: center;
  }
}

.item {
  position: relative;
}

.item:hover .content-info {
  opacity: 1;
}

.image {
  z-index: -2;
  max-width: 350px;

  @include md-down {
    max-width: 208px;
    height: 230px;
  }

  @include sm-down {
    width: 290px;
    max-width: none;
    height: 220px;
  }
}

.image-title {
  position: absolute;
  bottom: 50px;
  left: 40px;
  z-index: 0;
  margin-top: 0;
  margin-bottom: 0;
  font-size: 25px;
  color: $color-accent-primary;

  @include md-down {
    bottom: 15px;
    left: 40px;
    max-width: 140px;
    font-size: 18px;
  }

  @include sm-down {
    bottom: 30px;
    max-width: none;
  }
}

.content-info {
  position: absolute;
  top: 0;
  min-width: 100%;
  min-height: 100%;
  padding: 42px 38px 24px;
  text-align: left;
  background-color: $color-tertiary;
  border: 3px solid $color-secondary;
  opacity: 0;
  transition: $transition-base;

  @include md-down {
    padding: 30px 30px 24px;
  }
}

.info-time {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;

  @include md-down {
    font-size: 12px;
  }
}

.info-title {
  margin-top: 18px;
  margin-bottom: 0;
  font-size: 25px;
  font-weight: 700;

  @include md-down {
    max-width: 140px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.4;
  }
}

.info-text {
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 16px;
  color: $color-gray;

  @include md-down {
    max-width: 150px;
    margin-top: 8px;
    font-size: 12px;
    line-height: 1.3;
  }
}

.info-link {
  position: absolute;
  bottom: 10px;
  display: block;
  font-size: 16px;
  font-weight: 600;
  color: $color-secondary;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    opacity: 0.6;
  }

  @include md-down {
    font-size: 12px;
  }
}
