.footer-mobile {
  @include lg-down {
    display: block;
    padding-top: 15px;
    padding-right: 30px;
    padding-bottom: 15px;
    border-bottom: 1px solid $color-gray;

    &:first-child {
      padding-top: 0;
      margin-top: 0;
    }
  }
}

@include lg-down {
  .active {
    .title {
      color: $color-secondary;

      .arrow {
        transform: rotate(180deg);
      }

      .arrow-left,
      .arrow-right {
        fill: $color-secondary;
        stroke: $color-secondary;
        transition: $transition-base;
      }
    }

    .links-list {
      display: block;
      margin-top: 25px;

      &:first-of-type {
        margin-top: 15px;
      }
    }
  }
}

.title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 18px;
  font-weight: 400;
  cursor: pointer;

  @include sm-down {
    font-size: 16px;
  }
}

.arrow {
  display: none;
  transition: $transition-base;

  @include lg-down {
    display: block;
  }
}

.links-list {
  margin-top: 40px;
  list-style: none;

  @include lg-down {
    display: none;
  }

  @include sm-down {
    font-size: 14px;
  }
}

.list-item {
  margin-top: 20px;

  &:first-child {
    margin-top: 0;
  }
}

.list-link {
  font-size: 18px;
  font-weight: 300;
  color: $color-primary;
  text-decoration: none;
  transition: $transition-base;

  &:hover {
    color: $color-secondary;
  }
}
