.information {
  margin-top: 125px;

  @include md-down {
    margin-top: 70px;
  }

  @include sm-down {
    margin-top: 40px;
  }
}

.title {
  font-size: 60px;
  font-weight: 700;
  line-height: 35px;

  @include lg-down {
    font-size: 50px;
  }

  @include md-down {
    font-size: 40px;
    line-height: normal;
  }

  @include sm-down {
    font-size: 24px;
  }
}

.sub-title {
  margin-top: 80px;
  font-size: 25px;
  font-weight: 700;
  line-height: 26px;

  @include md-down {
    margin-top: 60px;
    font-size: 20px;
    line-height: normal;
  }

  @include sm-down {
    margin-top: 40px;
  }
}

.text {
  margin-top: 50px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  color: $color-gray;

  @include md-down {
    margin-top: 30px;
    font-size: 14px;
  }

  @include sm-down {
    margin-top: 20px;
  }
}
